

<f:asset.css identifier="filecollection-gallery" href="EXT:filecollection_gallery/Resources/Public/CSS/styles.css" />
<f:asset.css identifier="filecollection-gallery-glightbox" href="EXT:filecollection_gallery/Resources/Public/CSS/glightbox.min.css" />
<f:asset.script identifier="filecollection-gallery-glightbox" src="EXT:filecollection_gallery/Resources/Public/JavaScript/glightbox.min.js" />
<f:asset.script identifier="filecollection-gallery" src="EXT:filecollection_gallery/Resources/Public/JavaScript/scripts.js" />

<div class="tx-filecollectiongallery">
    <f:render section="Main"/>
</div>
